<div class="example-button-row" *ngIf="canAdd">
  <div>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!addForm"
      (click)="addElementF()"
    >
      Agregar
    </button>
  </div>
  <div *ngIf="addForm">
    <app-form
      [title]="title"
      (cancel)="addElementF()"
      [mapData]="fieldData"
      [fields]="deleteIdToFields(getProparitys(data[0]))"
      (submit)="saveElementF($event)"
    ></app-form>
  </div>
</div>
<table mat-table [dataSource]="data" class="mat-elevation-z0">
  <ng-container
    *ngFor="let item of getProparitys(data[0])"
    matColumnDef="{{ item }}"
  >
    <th mat-header-cell *matHeaderCellDef>{{ getItemName(item) }}</th>
    <td mat-cell *matCellDef="let element">{{ element["" + item + ""] }}</td>
  </ng-container>
  <ng-container matColumnDef="actions" *ngIf="canEdit || canDelete">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button *ngIf="canEdit" (click)="editElementF(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="canDelete"
        (click)="deleteElementF(element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
