<!--definicion del popUp de dialogo en donde vamos a determinar prefuntas para el usuario, en caso de realizar
acciones irreversibles o importantes, enviando como parametro el titulo, el mensaje y los botones de confimacion y cancelado-->
<div class="dialog">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content class="dialogContent">
    {{ data.message }}
  </div>
  <div mat-dialog-actions style="width: 100%;">
    <button mat-button mat-dialog-close (click)="(data.onCancel())">Cancelar</button>
    <button mat-button  mat-dialog-close cdkFocusInitial (click)="(data.onConfirm())">Ok</button>
  </div>
</div>
